In [2]:
id_list = ["muzi", "frodo", "apeach", "neo"]

In [3]:
report = ["muzi frodo","apeach frodo","frodo neo","muzi neo","apeach muzi"]

In [5]:
report_count = [0 for a in range(len(id_list))]
answer = [0 for a in range(len(id_list))]

In [6]:
import pandas as pd

In [40]:
report = list(set(report))

In [50]:
report

['muzi neo', 'apeach muzi', 'apeach frodo', 'frodo neo', 'muzi frodo']

In [55]:
answer = [0 for a in range(len(id_list))]

for j in range(len(id_list)):
    count = 0
    for i in range(len(report)):
        if report[i].split()[1] == id_list[j]:
            count += 1
            
    if count >= k:
        for a in range(len(report)):
            if id_list[j] == report[a].split()[1]:
                answer[j] += 1
                
print(answer)

[0, 2, 0, 2]

In [62]:
answer = [0 for a in range(len(id_list))]
report = list(set(report))
reporter = ''
for j in range(len(id_list)):
    count = 0
    for i in range(len(report)):
        if report[i].split()[1] == id_list[j]:
            count += 1
            if count >= k:
                break
            
    if count >= k:
        for a in range(len(report)):
            if id_list[j] == report[a].split()[1]:
                reporter += report[a].split()[0]
                
for j in range(len(id_list)):
    answer[j] = reporter.count(id_list[j])
                
print(answer)

[2, 1, 1, 0]

In [57]:
report.count('frodo')

0

In [48]:
data.report[0]

'muzi neo'

In [71]:
answer = [0 for a in range(len(id_list))]
report = list(set(report))
r1 = [report[i].split()[1] for i in range(len(report))]
r2 = []
for j in range(len(id_list)):
    if r1.count(id_list[j]) >= k:
        for l in range(len(report)):
            if report[l].split()[1] == id_list[j]:
                r2.append(report[l].split()[0])
                
for m in range(len(id_list)):
    answer[m] = r2.count(id_list[m])

print(answer)

[2, 1, 1, 0]

In [73]:
answer = [0 for a in range(len(id_list))]
report = list(set(report))
r1 = [report[i].split()[1] for i in range(len(report))]
r2 = []
r3 = []
for j in range(len(id_list)):
    if r1.count(id_list[j]) >= k:
        r3.append(id_list[j])
        
for l in range(len(report)):
    for n in range(len(r3)):
        if report[l].split()[1] == r3[n]:
            r2.append(report[l].split()[0])

for m in range(len(id_list)):
    answer[m] = r2.count(id_list[m])

print(answer)

[2, 1, 1, 0]

In [93]:
import pandas as pd

answer = [0 for a in range(len(id_list))]
report = list(set(report))

r1=[]
r2=[]

for i in range(len(report)):
    r1.append(report[i].split()[0])
    r2.append(report[i].split()[1])
data = pd.DataFrame(r1, columns=['r1'])
data['r2'] = r2
for i in range(len(data)):
    data

       r1     r2
0    muzi    neo
1  apeach  frodo
2  apeach   muzi
3   frodo    neo
4    muzi  frodo

In [94]:
data['r2']

0      neo
1    frodo
2     muzi
3      neo
4    frodo
Name: r2, dtype: object

In [95]:
data[data['r2'] == 'neo']

      r1   r2
0   muzi  neo
3  frodo  neo

In [96]:
data[(data['r2'] == 'neo') | (data['r2'] == 'frodo')]

       r1     r2
0    muzi    neo
1  apeach  frodo
3   frodo    neo
4    muzi  frodo

In [85]:
data

0     True
1    False
2    False
3     True
4    False
Name: r2, dtype: bool

In [70]:
report

['muzi neo', 'apeach muzi', 'apeach frodo', 'frodo neo', 'muzi frodo']

In [72]:
r2

['apeach', 'muzi', 'muzi', 'frodo']

In [63]:
r1 = []
r2 = []

for i in range(len(report)):
    r1.append(report[i].split()[0])
    r2.append(report[i].split()[1])

In [65]:
r2.count('neo')

2

In [12]:
r1, r2

(['muzi', 'apeach', 'frodo', 'muzi', 'apeach'],
 ['frodo', 'frodo', 'neo', 'neo', 'muzi'])

In [21]:
Data = pd.DataFrame(r1, columns=['R1'])

In [22]:
Data['R2'] = R2
Data

       R1     R2
0    muzi  frodo
1  apeach  frodo
2   frodo    neo
3    muzi    neo
4  apeach   muzi

In [28]:
report[1].split()[1] ==

'frodo'

In [32]:
k=2
for i in range(len(report)):
    r = report[i].split()[1]
    for j in range(len(id_list)):
        if id_list[j] == r:
            report_count[j] += 1

In [31]:
report_count

[1, 2, 0, 2]

In [34]:
for idx in range(len(report_count)):
    if report_count[idx] >= k:    
        for o in range(len(report)):
            if report[o].split()[1] == id_list[idx]:
                RP = report[o].split()[0]
                for p in range(len(id_list)):
                    if id_list[p] == RP:
                        answer[p] += 1

In [35]:
answer

[2, 1, 2, 0]